<!DOCTYPE html>
<html>
<head>
{{> include/header}}
<link href="/fullcalendar/fullcalendar.min.css" rel="stylesheet">
<link href="/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print">
<link href="/fullcalendar/public/design.css" rel="stylesheet">
</head>
{{> include/nav}}

<body>
	<a href="javascript:void(0);" class="point point-purple point-xl"></a>
	<div class="schedule-main">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default content-main">
					<h4>일정 목록</h4>
					<div id="external-events" class="external-events-trash">
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 1</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 2</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 3</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 4</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 5</div>
						<p>
							<input type="checkbox" id="drop-remove"> <label
								for="drop-remove">일정 등록후 제거</label>
						</p>
					</div>
				</div>
				<div id="add-events" class="panel panel-default content-main">
					<h4>일정 입력</h4>
					<div class="panel-body">
						<div class="input-group mb">
							<input type="text" placeholder="일정 입력"
								class="form-control external-event-name">
							<div class="input-group-btn">
								<button type="button"
									class="btn btn-default external-event-add-btn">추가</button>
							</div>
						</div>
						<p class="text-muted">
							<small>일정 색상 선택</small>
						</p>
						<ul class="list-inline external-event-color-selector">
							<li class="p0"><a href="javascript:void(0);"
								class="point point-danger point-xl selected"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-primary point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-info point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-success point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-warning point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-green point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-pink point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-inverse point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-purple point-xl"></a></li>
						</ul>
						<p class="text-muted">
							<small>시간 선택</small>
						</p>
						<input type="text" name="timepicker" class="timepicker"/>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default content-main">
					<div id="calendar"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="/fullcalendar/lib/moment.min.js"></script>
	<script src="/fullcalendar/lib/jquery.min.js"></script>
	<script src="/fullcalendar/lib/jquery-ui.min.js"></script>
	<script src="/fullcalendar/fullcalendar.min.js"></script>
	<script src="/fullcalendar/public/schedule.js"></script>
	
</body>
</html>