<!DOCTYPE html>
<html>
<head>
{{> include/header}}
<meta charset="utf-8">
<link href="fullcalendar/fullcalendar.min.css" rel="stylesheet">
<link href="fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print">
<script src="fullcalendar/lib/moment.min.js"></script>
<script src="fullcalendar/lib/jquery.min.js"></script>
<script src="fullcalendar/lib/jquery-ui.min.js"></script>
<script src="fullcalendar/fullcalendar.min.js"></script>
<link href="fullcalendar/public/design.css" rel="stylesheet">
<script>
	$(document).ready(function() {

		/* initialize the external events
		-----------------------------------------------------------------*/
		var currColor = "#f6504d";
		$('#external-events .fc-event').each(function() {

			// store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title : $.trim($(this).text()), // use the element's text as the event title
				stick : true,
				backgroundColor : $(this).css('background-color'),
				borerColor : $(this).css('border-color')
			// maintain when user navigates (see docs on the renderEvent method)
			});

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex : 999,
				revert : true, // will cause the event to go back to its
				revertDuration : 0
			//  original position after the drag
			});

		});

		/* initialize the calendar
		-----------------------------------------------------------------*/
		var copiedColor = "#000000";
	
		$('#calendar').fullCalendar({
			header : {
				left : 'prev,next today',
				center : 'title',
				right : 'month,agendaWeek,agendaDay'
			},
			buttonText : {
				today : '오늘',
				month : '월간 계획',
				week : '주간 계획',
				day : '일간 계획'
			},
			timeFormat : "HH:mm",
			monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
			monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
			dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
			dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
			editable : true,
			droppable : true, // this allows things to be dropped onto the calendar
			drop : function(date, allDay) {
	            // is the "remove after drop" checkbox checked?
	            if ($('#drop-remove').is(':checked')) {
	                // if so, remove the element from the "Draggable Events" list
	                $(this).remove();
	            }
			},
			eventReceive: function(event){
				
			},
			eventDrop: function(event, delta, revertFunc) {
		        alert(event.title + "일정을 " + event.start.format() + "날짜로 옮깁니다.");

		        if (!confirm("일정을 변경하시겠어요?")) {
		            revertFunc();
		        }

		    },
		    eventAfterRender:function(event, element, view){
			    	var _id = event._id,
					expr = /_fc\d/;
				var match = expr.exec(_id);	
				var is_fc = expr.test(_id);
				if(!event.id && is_fc){
					var new_event = {};
					new_event.title = event.title;
					new_event.start = event.start._d;
					new_event.backgroundColor = event.backgroundColor;
					new_event.borderColor = event.borderColor;
					new_event.editable = event.editable;
					new_event.durationEditable = event.durationEditable;
					//new_event.owner_id = $_SESS['user_id']		
					console.log(event);
					console.log(new_event);
				}
		    },
		    eventResizeStop :function( event, jsEvent, ui, view ) { 
		    		alert("일정 변경");
		    },
			eventDragStop: function(event, jsEvent, ui, view) {
                alert("zz");
                if(isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                    $('#calendar').fullCalendar('removeEvents', event._id);
                }
            },
            eventRender: function(event, element) {
				
		    }
		});
		var ExternalEvent = function(elements) {

			if (!elements)
				return;

			elements.each(function() {
				var $this = $(this);
				// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
				// it doesn't need to have a start or end
				var calendarEventObject = {
					title : $.trim($this.text()) // use the element's text as the event title
				};

				// store the Event Object in the DOM element so we can get to it later
				$this.data('calendarEventObject', calendarEventObject);

				// make the event draggable using jQuery UI
				$this.draggable({
					zIndex : 1070,
					revert : true, // will cause the event to go back to its
					revertDuration : 0 //  original position after the drag
				});

			});
		};
		var externalEvents = $('#external-events');
		// Color switchers
		var eventColorSelector = $('.external-event-color-selector .point');
		
		eventColorSelector.click(function(e) {
			e.preventDefault();
			var $this = $(this);
			
			// Save color
			currColor = $this.css('background-color');
			
			// De-select all and select the current one
			eventColorSelector.removeClass('selected');
			$this.addClass('selected');
		});
		var eventNameInput = $('.external-event-name');
		var eventAddButton = $('.external-event-add-btn');
		eventAddButton.click(function(e){
			e.preventDefault();
			// Get event name from input
			var val = eventNameInput.val();
			// Dont allow empty values
			if ($.trim(val) === '')
				return;
			
			// Create new event element
			var newEvent = $('<div/>').css({
				'background-color' : currColor,
				'border-color' : currColor,
				'color' : '#fff'
			}).addClass("fc-event")
			newEvent.html(val);
			
			addDraggable(newEvent);
			// Prepends to the external events list
			externalEvents.prepend(newEvent);
			// Initialize the new event element
			new ExternalEvent(newEvent);
			// Clear input
			eventNameInput.val('');
		});
	});
	function addDraggable(event){
		alert(event);
		event.data('event', {
			title : $.trim(event.text()), // use the element's text as the event title
			stick : true,
			backgroundColor : event.css('background-color'),
			borderColor : event.css('border-color')
		// maintain when user navigates (see docs on the renderEvent method)
		
		});
		
		event.draggable({
			zIndex : 999,
			revert : true, // will cause the event to go back to its
			revertDuration : 0
		//  original position after the drag
		});
	}
	function insertdb(event){
		$.ajax({
			url : "/matchUNU/Plan/insertPlan",
			method : 'POST',
			data : event,
			beforeSend : function(req) {

			},
			complete : function() {
			},
			error : function(request, status, error) {
				console.log("code:" + status + ' ' + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			},
			success : function(response) {
				reload();
			}
		});
	}
    var isEventOverDiv = function(x, y) {

        var external_events = $( '#external-events' );
        var offset = external_events.offset();
        offset.right = external_events.width() + offset.left;
        offset.bottom = external_events.height() + offset.top;

        // Compare
        if (x >= offset.left
            && y >= offset.top
            && x <= offset.right
            && y <= offset .bottom) { return true; }
        return false;

  	}
	// Trash events Droparea
	$('.external-events-trash').droppable({
		accept : '.fc-event',
		activeClass : 'active',
		hoverClass : 'hovered',
		tolerance : 'touch',
		drop : function(event, ui) {

			// You can use this function to send an ajax request
			// to remove the event from the repository

			if (draggingEvent) {
				var eid = draggingEvent.id || draggingEvent._id;
				// Remove the event
				calElement.fullCalendar('removeEvents', eid);
				// Remove the dom element 여기서 deleteEvents function call
				console.log(eid);
				ui.draggable.remove();
				// clear
				draggingEvent = null;
			}
		}
	});
		
</script>

</head>
{{> include/nav}}
<body>
	<a href="javascript:void(0);" class="point point-purple point-xl"></a>
	<div class="schedule-main">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default content-main">
					<h4>일정 목록</h4>
					<div id="external-events">
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 1</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 2</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 3</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 4</div>
						<div class="fc-event ui-draggable ui-draggable-handle">My
							Event 5</div>
							<div class="fc-event orange ui-draggable" id="1" style="background-color:orange;"data-color="orange">Orange</div>
						<p>
							<input type="checkbox" id="drop-remove"> <label
								for="drop-remove">일정 등록후 제거</label>
						</p>
					</div>
				</div>
				<div id="add-events" class="panel panel-default content-main">
					<h4>일정 입력</h4>
					<div class="panel-body">
						<div class="input-group mb">
							<input type="text" placeholder="일정 입력"
								class="form-control external-event-name">
							<div class="input-group-btn">
								<button type="button"
									class="btn btn-default external-event-add-btn">추가</button>
							</div>
						</div>
						<p class="text-muted">
							<small>일정 색상 선택</small>
						</p>
						<ul class="list-inline external-event-color-selector">
							<li class="p0"><a href="javascript:void(0);"
								class="point point-danger point-xl selected"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-primary point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-info point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-success point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-warning point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-green point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-pink point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-inverse point-xl"></a></li>
							<li class="p0"><a href="javascript:void(0);"
								class="point point-purple point-xl"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default content-main">
					<div id="calendar"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>